/*============================================================================================ Global*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

button,
input,
ul,
li,
a {
  border: none;
  outline: none;
  background: none;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

/*========================================================================================== Navbar*/
.nav-content {
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.nav-logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  cursor: pointer;
  color: rgb(34, 32, 46);
}
.nav-icon {
  display: flex;
  gap: 16px;
}
.nav-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-link {
  display: flex;
  justify-content: center;
  gap: 44px;
}
.nav-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(34, 32, 46);
  transition: all 0.3s linear;
}
.nav-item a:hover {
  color: rgb(114, 110, 141);
}

.search-icon-m {
  display: none;
}

.menuBar-icon-m {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nav-link {
    display: flex;
    gap: 35px;
  }
}
@media screen and (max-width: 767px) {
  .nav-bottom {
    padding: 0;
  }
  .nav-link {
    display: none;
  }
  .search-icon,
  .user-icon,
  .shopping-icon {
    display: none;
  }
  .search-icon-m,
  .menuBar-icon-m {
    display: block;
  }
  .nav-icon {
    display: flex;
    gap: 20px;
  }
}
/*=================================================================================== shopping section*/
.shopping-content {
  padding: 64px 188px;
}
.shopping-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
}
.shopping-column {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(235, 232, 244);
}
.shopping-column_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: rgb(42, 37, 75);
}

.shopping {
  color: rgb(42, 37, 75);
}
.shopping-graystone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.shopping-graystone-vase {
  display: flex;
  gap: 20px;
}
.shopping-graystone-description-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 12px;
}
.shopping-graystone-description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 8px;
  max-width: 180px;
}
.shopping-graystone-description-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 8px;
}

.shopping {
  color: rgb(42, 37, 75);
}
.shopping-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(235, 232, 244);
}
.shopping-basic-vase {
  display: flex;
  gap: 20px;
}
.shopping-basic-description-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 12px;
}
.shopping-basic-description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 8px;
  max-width: 180px;
}
.shopping-basic-description-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 8px;
}

.shopping-bottom {
  text-align: right;
}
.shopping-bottom-title {
  padding-top: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(78, 77, 147);
}
.shopping-bottom-title span {
  color: rgb(42, 37, 75);
}
.shopping-bottom-text {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(78, 77, 147);
}
.shopping-bottom-btn {
  margin-top: 16px;
  color: white;
  background: rgb(42, 37, 75);
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s linear;
}
.shopping-bottom-btn:hover {
  background: rgb(70, 62, 121);
}

.shopping-basic-choose-m,
.shopping-graystone-choose-m {
  display: none;
}

@media screen and (max-width: 1023px) {
  .shopping-content {
    padding: 64px 120px;
  }
}
@media screen and (max-width: 767px) {
  .shopping-content {
    padding: 36px 24px;
  }
  .shopping-title {
    font-size: 24px;
  }
  .shopping-graystone {
    padding-top: 40px;
  }
  .shopping-column, .shopping-basic-price, .shopping-graystone-price {
    display: none;
  }
  .shopping-bottom-btn {
    width: 100%;
  }
  .shopping-basic-img, .shopping-graystone-img {
    width: 133px;
    height: 174px;
  }
  .shopping-graystone-choose, .shopping-basic-choose {
    display: none;
  }
  .shopping-basic-choose-m, .shopping-graystone-choose-m {
    display: block;
  }
  .shopping-basic-description-title, .shopping-graystone-description-title {
    padding-top: 0;
  }
}
/*============================================================== footer*/
footer {
  background: rgb(42, 37, 75);
}

.ft-top {
  padding-top: 58px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.ft-links {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgb(255, 255, 255);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-right-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  color: rgb(255, 255, 255);
}

.ft-right-inp_btn {
  margin-top: 16px;
}

.ft-inp {
  padding: 17px 306px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.ft-inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255, 255, 255);
}

.ft-btn {
  padding: 17px 32px;
  color: rgb(42, 37, 75);
  background: rgb(255, 255, 255);
  margin-left: -6px;
}

.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}

.ft-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgb(255, 255, 255);
}

.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1300px) {
  .footer .container {
    padding: 0 24px;
  }
  .ft-inp {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1050px) {
  .ft-top {
    display: flex;
    gap: 40px;
  }
  .ft-right-inp_btn {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 650px) {
  .ft-links {
    gap: 96px;
  }
  .ft-right-inp_btn {
    width: 100%;
    align-items: center;
  }
  .ft-inp {
    padding: 17px 30px 17px 32px;
  }
  .ft-btn {
    padding: 17px 20px;
    margin-top: 0;
  }
  .ft-bottom {
    display: flex;
    justify-content: center;
  }
  .ft-bottom-icon {
    display: none;
  }
}
@media screen and (max-width: 373px) {
  .ft-inp {
    padding: 16px;
  }
  .ft-btn {
    text-align: center;
    margin-left: -4px;
    margin-top: 10px;
    padding: 18px 12px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
