$background: rgba(42, 37, 75, 1);
$light-blue: rgba(114, 110, 141, 1);
$dark-blue: rgba(34, 32, 46, 1);

/*============================================================================================ Global*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
}

button,
input,
ul,
li,
a {
  border: none;
  outline: none;
  background: none;
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

/*========================================================================================== Navbar*/

.nav {
  &-content {
    padding-top: 20px;
    padding-right: 28px;
    padding-left: 28px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
  &-logo {
    font-size: 24px;
    font-weight: 400;
    line-height: 29.52px;
    cursor: pointer;
    color: $dark-blue;
  }
  &-icon {
    display: flex;
    gap: 16px;
  }
  &-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-link {
    display: flex;
    justify-content: center;
    gap: 44px;
  }
  &-item a {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: $dark-blue;
    transition: all 0.3s linear;
    &:hover {
      color: $light-blue;
    }
  }
}

.search-icon-m {
  display: none;
}
.menuBar-icon-m {
  display: none;
}

@media screen and (max-width: 1023px) {
  .nav-link {
    display: flex;
    gap: 35px;
  }
}

@media screen and (max-width: 767px) {
  .nav-bottom{
    padding: 0;
  }
  .nav-link {
    display: none;
  }

  .search-icon,
  .user-icon,
  .shopping-icon {
    display: none;
  }

  .search-icon-m,
  .menuBar-icon-m {
    display: block;
  }
  .nav-icon {
    display: flex;
    gap: 20px;
  }
}

/*=================================================================================== shopping section*/

.shopping {
  &-content {
    padding: 64px 188px;
  }
  &-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 50.4px;
  }
  &-column {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(235, 232, 244, 1);
    &_text {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      color: $background;
    }
  }
}

.shopping {
  color: $background;

  &-graystone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    &-vase {
      display: flex;
      gap: 20px;
    }
    &-description {
      &-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 12px;
      }
      &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 8px;
        max-width: 180px;
      }
      &-price {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 8px;
      }
    }
  }
}

.shopping {
  color: $background;

  &-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(235, 232, 244, 1);
    &-vase {
      display: flex;
      gap: 20px;
    }
    &-description {
      &-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 12px;
      }
      &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 8px;
        max-width: 180px;
      }
      &-price {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        padding-top: 8px;
      }
    }
  }
}

.shopping-bottom {
  text-align: right;
  &-title {
    padding-top: 28px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(78, 77, 147, 1);
    span {
      color: $background;
    }
  }
  &-text {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(78, 77, 147, 1);
  }
  &-btn {
    margin-top: 16px;
    color:white;
    background:$background;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s linear;
    &:hover{
      background: rgb(70, 62, 121);

    }
  }
}

.shopping-basic-choose-m,
.shopping-graystone-choose-m{
  display: none;
}

@media screen and (max-width: 1023px) {
  .shopping {
    &-content {
      padding: 64px 120px;
    }

  }
}

@media screen and (max-width: 767px) {
  .shopping-content{
    padding: 36px 24px;
  }
  .shopping-title{
    font-size: 24px;
  }
  .shopping-graystone{
    padding-top: 40px;
  }
  .shopping-column,.shopping-basic-price,.shopping-graystone-price  {
    display: none;
  }
  .shopping-bottom-btn{
    width: 100%;
  }
  .shopping-basic-img, .shopping-graystone-img{
    width: 133px;
    height: 174px;
  }
  .shopping-graystone-choose, .shopping-basic-choose{
    display: none;
  }
  .shopping-basic-choose-m, .shopping-graystone-choose-m{
    display: block;
  }

  .shopping-basic-description-title,.shopping-graystone-description-title{
    padding-top: 0;
  }
}


@media screen and (max-width: 380px) {
  .shopping-graystone-description-title {

  }
  .shopping-graystone-description-text {
  }
  .shopping-graystone-description-price {
  }
  .shopping-graystone-choose-m {
  }

  .shopping-basic-description-title {
  }
  .shopping-basic-description-text {
  }
  .shopping-basic-description-price {
  }
  .shopping-basic-choose-m {
  }
}





/*============================================================== footer*/
